@{
    ViewData["Title"] = "Confirm Return";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
</head>

  <div style="align-content: center;text-align: center;margin-top: 100px;">
        <img src="~/images/LogoOficial.png" style="width :150px;">
        <h1>Your return request has been confirmed !</h1>
        <p>Now we can analize your request.</p>
        <p>Go back to our shop.</p>
        <a asp-action="Index" asp-controller="Home"><button class="normal" style="background:#bf85fa;margin-top: 90px;">Back</button></a>
    </div>