@model FreezyShop.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}





<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/profilepass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reset Password</title>

</head>

<body id="bodyprofile">
    <form method="post">
    <div class="wrapperprofile">
        <img src="~/images/LogoOficial.png">
        <h1>New password</h1>
        <h3>Create a new password.</h3>

        <div class="inputs">

          <div class="field">
                <input asp-for="OldPassword" type="password" placeholder="Old password" required>
          </div>

          <div class="field">
            <input asp-for="NewPassword" type="password" placeholder="New password" required>
          </div>

          <div class="field">
            <input asp-for="Confirm" type="password" placeholder="Confirm new password"required>
          </div>

          <input type="submit" value="Change password">
        </div>
      </div>
      </form>
</body>
