@{
    ViewData["Title"] = "Confirm Email";
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
</head>

  <div style="align-content: center;text-align: center;margin-top: 100px;">
        <img src="~/images/LogoOficial.png" style="width :150px;">
        <h1>Your email has been confirmed !</h1>
        <p>Now you can enjoy our website with no worries.</p>
        <p>Go back to Login page.</p>
        <a asp-action="Login" asp-controller="Account"><button class="normal" style="background:#bf85fa;margin-top: 90px;">Login</button></a>
    </div>