@model FreezyShop.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = null;
}
@*
<h2>Recover Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Recover password" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-success">Back to login</a>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/forgot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Forgot password</title>
</head>
<body id="bodyrecover">
    <form method="post">
    <div class="wrapperlogin">
        <img src="~/images/LogoOficial.png">
        <h1>Forgot Password</h1>
        <h3>To recover your password put your email.</h3>
        <div class="inputs">
          <div class="field">
            <input  asp-for="Email" type="email" placeholder="Fill your email" required>
          </div>
          <input type="submit" value="Send">
        </div>
        <div class="link1">
          <p>Back To <a asp-action="Login">Sign in</a></p>
        </div>
        @ViewBag.Message
      </div>
      </form>
</body>















