@model FreezyShop.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}









<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reset Password</title>
</head>
<body id="bodyreset">
     <form method="post">
          <input type="hidden" asp-for="Token" />
    <div class="wrapperreset">
        <img src="~/images/LogoOficial.png">
        <h1>Reset Password</h1>
        <h3>Reset your password.</h3>
        <div class="inputs">
          <div class="field">
            <input asp-for="UserName" type="email" placeholder="Email" required>
          </div>
          <div class="field">
            <input asp-for="Password" type="password" placeholder="New password" required>
          </div>
          <div class="field">
            <input  asp-for="ConfirmPassword"type="password" placeholder="Confirm new password" required>
          </div>
          <input type="submit" value="Reset password">
          <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                      <span asp-validation-for="Password" class="text-warning"></span>
        </div>
      </div>
      </form>
</body>

